<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <title>Ethereum chainstate</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ethereum chain state</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            {% for name in blockinfos %}
                                <th>{{name}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tr>
                        <th>Block</th>
                        {% for name, blockinfo in blockinfos.iteritems() %}
                            <td><a href="https://etherscan.io/block/{{blockinfo.hash}}">{{blockinfo.hash|truncate(13)}}</a></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Block Number</th>
                        {% for name, blockinfo in blockinfos.iteritems() %}
                            <td>{{blockinfo.number}}</td>
                        {% endfor %}
                    </tr>
                    <tr><th>Difficulty</th>
                        {% for name, blockinfo in blockinfos.iteritems() %}
                            <td>{{blockinfo.difficulty}}</td>
                        {% endfor %}
                    </tr>
                    <tr><th>Total Difficulty</th>
                        {% for name, blockinfo in blockinfos.iteritems() %}
                            <td>{{blockinfo.totalDifficulty}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <style>

                .node circle {
                  fill: #999;
                }

                .node text {
                  font: 10px sans-serif;
                }

                .node--internal circle {
                  fill: #555;
                }

                .node--internal text {
                  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
                }

                .link {
                  fill: none;
                  stroke: #555;
                  stroke-opacity: 0.4;
                  stroke-width: 1.5px;
                }

                </style>
                <svg width="600" height="1650"></svg>
                <script src="//d3js.org/d3.v4.min.js"></script>
                <script>
                    var nodes = {{nodes}};
                    var edges = {{edges}};
                    var latest = {{latest}};

                    var nodesByRank = {};
                    for(var i = 0; i < nodes.length; i++) {
                        var node = nodes[i];
                        if(nodesByRank[node.number] == undefined) {
                            nodesByRank[node.number] = [node];
                        } else {
                            nodesByRank[node.number].push(node);
                        }
                    }

                    var blockNumbers = [];
                    for(var number in nodesByRank) {
                        blockNumbers.push(number);
                        for(var i = 0; i < nodesByRank[number].length; i++) {
                            var node = nodesByRank[number][i];
                            node.y = (latest - node.number) * 50;
                            node.x = i * 100 + 75;
                        }
                    }

                    var nodesByHash = {}
                    for(var i = 0; i < nodes.length; i++) {
                        nodesByHash[nodes[i].hash] = nodes[i];
                    }

                    var svg = d3.select("svg"),
                        width = +svg.attr("width"),
                        height = +svg.attr("height"),
                        g = svg.append("g").attr("transform", "translate(5, 40)");

                    var numbers = g.selectAll("node")
                        .data(blockNumbers)
                        .enter().append("text")
                            .attr("transform", function(d) { return "translate(0," + (latest - d) * 50 + ")"; })
                            .attr("dy", 3)
                            .attr("x", 8)
                            .style("text-anchor", "start")
                            .text(function(d) { return d; });

                    var node = g.selectAll("node")
                        .data(nodes)
                        .enter().append("g")
                            .attr("class", "node--internal")
                            .attr("transform", function(d) { return "translate(" + d.x + ", " + d.y + ")"; });
                    node.append("circle")
                        .attr("r", 2.5);
                    node.append("text")
                        .attr("dy", 3)
                        .attr("x", 8)
                        .style("text-anchor", "start")
                        .text(function(d) { return d.hash.substring(0, 10); });

                    var link = g.selectAll(".link")
                        .data(edges)
                        .enter().append("path")
                            .attr("class", "link")
                            .attr("d", function(d) {
                                var fromNode = nodesByHash[d[0]],
                                    toNode = nodesByHash[d[1]];

                                return "M" + toNode.x + "," + toNode.y
                                    + "C" + toNode.x  + "," + (toNode.y + 25)
                                    + " " + fromNode.x + "," + (fromNode.y - 25)
                                    + " " + fromNode.x + "," + fromNode.y;
                            });
                </script>
            </div>
        </div>
    </div>
</body>
</html>